.modal-primary,
.modal-info,
.modal-success,
.modal-warning,
.modal-danger {
  .modal-header {
    color: #fff;
    border-radius: 5px 5px 0 0;
  }
}
.modal-primary .modal-header {
  background: #fff;
}
.modal-info .modal-header {
  background: #fff;
}
.modal-success .modal-header {
  background: #fff;
}
.modal-warning .modal-header {
  background: #fff;
}
.modal-danger .modal-header {
  background: #fff;
}
